'name': 'Dogma'
'scopeName': 'source.dogma'
'comment': 'Dogma language'
'fileTypes': [
  'dog'
  'dogma'
]
'patterns': [
  {
    'begin': '#'
    'end': '$'
    'name': 'comment.dogma'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.dogma'
  }
  {
    'begin': '"""'
    'end': '"""'
    'name': 'string.quoted.triple.dogma'
  }
  {
    'begin': '\''
    'end': '\''
    'name': 'entity.name.dogma'
  }
  {
    'match': '\\b(\\d[\\d\\. ]*)\\b'
    'name': 'constant.numeric.dogma'
  }
  {
    'match': '\\b(false|true|nil)\\b'
    'name': 'constant.language.dogma'
  }
  {
    'match': '\\b(and|as|async|await|break|catch|const|do|dogma|each|else|end|enum|export|extern|finally|fn|for|from|if|in|is|like|native|next|nop|not|op|or|peval|pub|pvt|return|super|then|type|use|var|while|with|yield)\\b'
    'name': 'keyword.dogma'
  }
  {
    'match': '\\b(abstract|coalesce|echo|echof|exec|fmt|keys|len|print|printf|throw|todo|typename)\\b'
    'name': 'support.function.dogma'
  }
  {
    'match': '\\.\\.\\.[a-zA-Z0-9_]+'
    'name': 'variable.parameter.dogma'
  }
  {
    'match': '((\\:(?!(any|bool|datetime|func|list|num|map|promise|proxy|text))[a-zA-Z0-9_]+)|(\\.[a-zA-Z0-9_]+)|self|Self)'
    'name': 'variable.language.dogma'
  }
  {
    'match': '\\b(any|bool|datetime|func|list|num|map|promise|proxy|text)\\b'
    'name': 'support.type.dogma'
  }
  {
    'match': '(\\@[a-zA-Z0-9_]+)'
    'name': 'entity.name.section.dogma'
  }
  {
    'match': '\\+|\\+=|-|-=|\\*|\\*=|\\*\\*|\\*\\*=|\\/|\\/=|%|%=|=|==|===|=>|!|!=|!==|<|<<|<<=|<=|>|>>|>>=|>=|\\^|\\^=|~|~=|\\(|\\)|\\[|\\]|{|}|\\.\\.|\\.\\.\\.|\\?|&|&=|&&|\\||\\|=|\\|\\|\\,'
    'name': 'keyword.operator.dogma'
  }
]
