'.source.dogma':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '({|\\[|\\(|async|const|do|else|pub|then|use|var|with .+|(fn|pr|proc)\\(.*\\)| *(fn|pr|proc) +.+\\(.*\\) *:?.+|((export|pub)? *(intf|struct|type) .+))$'
    'decreaseIndentPattern': '^\\s*((end|}|\\])\\)|(}|\\]|\\)))$'
