'.source.dogma':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '({|\\[|\\(|async|const|do|else|pub|then|use|var|with .+|(fn|proc)\\(.*\\)| *(fn|proc) +.+\\(.*\\) *:?.+|((export|pub)? *type .+))$'
    'decreaseIndentPattern': '^\\s*((end|}|\\])\\)|(}|\\]|\\)))$'
