'.source.dogma':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '({|\\[|\\(|async|const|do|else|then|use|var|with .+|fn\\(.*\\)| *fn +.+\\(.*\\) *:?.+|((export|pub)? *type .+))$'
    'decreaseIndentPattern': '^\\s*((end|}|\\])\\)|(}|\\]|\\)))$'
